* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color:ghostwhite;
    color: #333;
}

header {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

main {
    width: 80%;
    margin: 20px auto;
}

.intro {
    text-align: center;
    margin-bottom: 20px;
}

.intro img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 250px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.biography, .achievements, .quote, .gallery {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    border-bottom: 2px solid #000;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}

.achievements ul {
    list-style-type: disc;
    margin-left: 20px;
}

.photo .photos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.photo img {
    width: 30%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #000;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
